Source: ttf-thanlwin
Section: fonts
Priority: extra
Maintainer: Keith Stribley <devel@thanlwinsoft.org>
Build-Depends: debhelper (>= 7.0.50~) python-fontforge grcompiler
Standards-Version: 3.9.1
Homepage: http://www.thanlwinsoft.org/
#Vcs-Mercurial: http://thanlwinsoft.co.uk/cgi-bin/hgwebdir.cgi/thanlwinfont
#Vcs-Browser: http://thanlwinsoft.co.uk/cgi-bin/hgwebdir.cgi/thanlwinfont

Package: ttf-thanlwin
Architecture: all
Depends: ${misc:Depends} fontconfig
Description: ThanLwin Myanmar (Burmese) Unicode font
 A Myanmar Unicode font which uses ligatures for speed. It includes a fixed
 width version for use in text editors.
